*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
twitter_analysis/vendor/bundle
twitter_analysis/log/*
twitter_analysis/tmp/*
twitter_analysis/db/*.sqlite3
twitter_analysis/public/system/*
twitter_analysis/coverage/
twitter_analysis/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
twitter_analysis/config/application.yml
research.sublime-project
research.sublime-workspace
.idea/*
.idea/