<!DOCTYPE HTML>
<html>
<head>
  <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; font-family: }
      input { padding: 8px; margin: 5px 10px; font-size: 14px; }
      label { font-size: 18px; }
      h3 { color: #3a87ad; font-size: 22px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
      #map-canvas { height: 100% }
      #control-panel { height: 40px; padding: 30px 25px 45px 25px; background: url('fade.png') repeat-x #000; color:#fff; font-size: 14px;  }
      #map-container { height: 100%; width: 65%; float: right; }
      #search-container { height: 90%; max-width: 30%; padding: 30px; }
      #results-container { height: 85%; overflow:auto; padding-right: 15px; }
      .result-item { min-height: 90px; background: url('twitter-icon.png') no-repeat; border-bottom: 1px solid #ddd; padding: 10px 0px 10px 100px; }
      .tweet-time { font-size: 11px; font-weight: bold; }
      .tweet-text { }
      .tweet-user { margin: 0px; }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0mPug-Q9GT3rqeg7gRN0dKkjNJCyieM&sensor=true&libraries=visualization">
  </script>
  <script src="searchtools.js" ></script>

</head>

<body>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div id="search-container">
    <h3>Welcome! Please perform a search.</h3>
    <form action="#" onsubmit="getTweets(document.getElementById('results-container'), document.getElementById('search-box').value, 0, document.getElementById('results-per-page').options[document.getElementById('results-per-page').selectedIndex].value); return false;">
    <input type="text" id="search-box" onkeyup="searchMap(this, document.getElementById('search-button'), null);"/><input type="submit" id="search-button" value="Search" /><input type="checkbox" onclick="toggleHeatmap();" id="heatmap-toggle"/><label for="heatmap-toggle">View Heatmap</label><br />
      Results per page:
      <select id="results-per-page">
      <option value=5>5</option>
      <option value=10 selected>10</option>
      <option value=25>25</option>
      <option value=50>50</option>
    </select>

    </form>
    <div id="results-container"></div>
      <input type="button" class="prev-next" value="Previous" onclick="" />

      <input type="button" class="prev-next" value="Next" onclick="getNextPage(document.getElementById('results-container'), document.getElementById('results-per-page').options[document.getElementById('results-per-page').selectedIndex].value);" />
</div>
</body>
</html>