<div id="twitter_data_wrapper">
	<div class="tweet_wrapper" data-bind="foreach: tweetsArray">
		<div class="tweet_text" data-bind="text: text">	</div>
		<%= image_tag('twitter-icon.svg', :class=>"tweet_img") %>
	</div>
</div>

<script>
//need to change this so that it's given a unique id somehow... 
 $("#twitter_data_wrapper").hover(
        function () {
            $(".tweet_text").fadeIn(300).css("display","inline-block");
        },
        function () {
            $(".tweet_text").fadeOut(300);
        }
    );
</script>