@charset 'UTF-8';
/* styling for the tweets */
#tweet_data_wrapper{
	max-width:50px; height:50px;	
}

/* Gives the fade in text box when you touch the image */
.tweet_text { display:none;width: 100px; height: 70px; line-height: 10px; color: #575858; font-size: 10px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 150; text-transform: uppercase; background-color:rgba(0, 204, 255, 0.08); border:1px; border-style:solid;} 

/* Fade in and glow effect on image */
.tweet_img { width: 40px; margin: 0 auto; min-height: 50px; }

.hidden{ display:none; }

#map {
    border-left: thick solid #000000;
   	width: 60%;
   	min-height: 100%;
   	height: 900px;
   	position: relative;
   	float: right;
  	overflow: auto; 
}