
<div id="twitter_data_wrapper">
	<div class="tweet_wrapper" data-bind="foreach: tweetsArray">
		<div class="tweet_text" data-bind="text: text">

		</div>
		<%= image_tag('twitter-icon.svg', :class=>"tweet_img") %>
	</div>
</div>